
body{
    background-color: #efedf5;;
}
.header-icon ul li {
    position: relative;
    font-size: 30px;
    margin: 10px;
}
.header-icon .show-content li{
    font-size: 18px;
}
.header-icon .show-mail li{
    font-size: 18px;
}
.header-icon ul {
    padding-left: 0; /* bỏ padding mặc định của ul */
    color: black;
}
.header-icon ul li span {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside span{
    font-size: 17px;
}
aside{
    height: 100vh;
}
.col-lg-custom {
    flex-basis: calc((100% / 12) * 1.9);
    max-width: calc((100% / 12) * 1.9);
}
aside .logo{
    font-size: 50px;
}
aside .user-dropdown img{
    width: 60px; margin-right: 20px;

}
form .searchbox{
    width: 50%;
    margin: 50px auto;
}
.has-search .form-control {
    padding-left: 2.375rem;
}
#dropdownMenuButton1{
    cursor: pointer;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 23px;
    height: 23px;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.menu div {
    align-items: center;
    margin-left: 20px;
}
.menu div i{
    font-size: 20px;
    margin-right: 20px;
}
.menu div span{
    font-size: 17px;
}
/*aside .collapse {*/
/*    margin-left: 20px;*/
/*}*/

aside .collapse span{
    font-size: 17px;
    padding: 0;
    margin: 0;
}
aside la-angle-down{
    margin-left: 90px;
}
.menu .icon-notebook{
    margin-left: 30px;
}
#showNote .nav-item.active a {
    text-decoration: underline; / add underline /
text-underline-position: under; / move the underline under the text /
}

